<li [ngClass]="{'list-group-item':true, 'list-group-item-success': getLove() === 'love','list-group-item-danger': getLove() === 'dontLove'}">
  <h2>{{ postTitle }}</h2>
  <p class="time">{{ postDate | date:'M/d/y, h:m' | uppercase }}</p>
  <p>{{ postContent }}</p>
  <button class="btn btn-success" (click)="loveIt()">Love It</button>
  <button class="btn btn-danger" (click)="dontLoveIt()">Don't Love It</button>
</li>
