<div class="col-xs-12">
  <h1>Posts</h1>
  <ul class="list-group">
      <app-post-list-item *ngFor="let post of posts" [postTitle] = "post.title" [postContent] = "post.content" [postLoveIts] = "post.loveIts" [postDate] = "post.created_at"></app-post-list-item>
  </ul>
</div>